@font-face {
    font-family: glitch;
    src: url("assets/Blockstepped.ttf")
}

a {
    text-emphasis-color: inherit;
    color: inherit;
    text-decoration: none;
}

footer {
    background-color: gainsboro;
}

canvas {
    display: inline-block;
    margin-top: 10px;
    border: none;
    background-color: white;
}

h2 {
    font-family: sans-serif;
    text-align: center;
    color: white;
}

#vidulator {
    object-fit: cover;
    width: 100%;
}

#index-container {
    visibility: hidden;
}

#insta-logo {
    height: 40px;
}

.links-container {
    text-align: center;
    position: static;
}

.splash-link {
    margin: auto;
    color: white;
    text-align: center;
    position: relative;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #5191bdcc, #5191bdcc);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 4px;
    background-size: 0% 2px;
}

.splash-link:hover {
    animation: underline 1s normal forwards;
}

.world-loops {
    width: 75%;
    height: 75%;
}

.loop-container {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.safari-warning {
    visibility: hidden;
    color: white;
}

.works-thumbs {
    position: relative;
    text-align: center;
    width: 250px;
    height: 250px;
    max-width: 100%;
    overflow: hidden;


}

.works-thumbs p {
    font-family: glitch;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
    color: rgb(146, 197, 255);
    background-color: rgba(27, 27, 27, 0.74);


}

.works-thumbs:hover p {
    top: 50%;
    left: 50%;
    animation: shift .5s normal forwards;


}

.works-names {
    left: 25%;
    color: white;
    position: relative;
    font-size: 40px;
}

.works-thumbs:hover>.works-names {
    animation: textappear 1s normal forwards;
    animation-iteration-count: 1;
}

@keyframes shift {

    to {
        transform: translate(-50%, -60%);
    }

}

@keyframes textappear {
    from {
        top: 100%;
    }

    to {
        top: 0%;
    }
}


.works-container {
    margin: 10%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;

}


.work-title {
    color: white;
    font-family: Helvetica, sans-serif;
}

.work-summary {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 25px;
}

.about-work-container {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

#works-header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    margin-top: 5%;
    font-size: 40px;
}

.header {
    background-color: gray;
}

.header p {
    font-family: sans-serif;
    font-size: 25px;
    color: white;
    margin-left: 5%;
}

.pre-load-container {
    justify-content: center;
}

.pre-loader {
    width: 300px;
    height: 50px;
    outline: white solid;
    position: absolute;
    top: 40%;
    left: 40vw;
    margin: -25px 0 0 -25px;
    max-width: 50%;
    /* Apply negative top and left margins to truly center the element */
}

.pre-load-progress {
    width: 0px;
    height: 50px;
    max-width: 100%;
    background-image: url(assets/preloaderface1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: loading 2.5s normal forwards;
}

#github {
    display: inline-block;


}

#github:hover {

    animation: cool 1s normal forwards;
}

#github:hover #letters {
    display: inline-block;
    position: relative;
    animation: swoosh 1s forwards;

}

#github:hover #letters2 {
    display: inline-block;
    position: relative;
    animation: woosh 1s forwards;
}


.disappear {
    animation: vanish .04s forwards;
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes safari-warning {
    to {
        visibility: visible;
    }
}

@keyframes loading {
    to {
        width: 300px;
    }
}

@keyframes finished {
    to {
        opacity: 20%;
    }
}

@keyframes cool {

    to {
        color: rgb(212, 0, 0);
    }

}

@keyframes swoosh {
    to {
        transform: rotate(-4deg) translateY(15px);
    }

}

@keyframes out {

    to {
        transform: rotate(10deg) translateY(0px);
    }

}

@keyframes woosh {
    to {
        transform: rotate(5deg) translateY(-12px);
    }

}

@keyframes underline {

    to {

        background-size: 80% 2px;

    }

}

@media only screen and (max-width: 768px) {
    .works-thumbs {
        width: 100%;
    }

    .work-summary {
        font-size: 20px;
        text-align: center;
    }

    .work-title {
        font-size: 23px;
    }

    .about-work-container {
        margin: 5%;
    }

    .world-loops {
        width: 100%;
    }

    .pre-loader {
        left: 30%;
        width: 100%;
    }

}


@media not all and (min-resolution:.001dpcm) {
    .works-thumbs {
        background-image: linear-gradient(to right, #757575, #000000cc);
    }

    .safari-warning {
        animation: safari-warning;
    }
}